.panda-bg-info{
    background-color: #fceae8;
}
.panda-bg-success{
    background-color: #da70d6;
}
.panda-bg-warning{
    background-color: #ff1e76;
}
.panda-btn-warning{
    background-color: #ff1e76;
}
.categories img{
    width: 100px;
}
.slider-img img{

padding-top: 40px;
}